.slider {
    padding-top: 100px;
    .mr0 {
        margin-right: 0;
    }
    &__items {
        display: flex;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        &_items {
            position: relative;
            width: 990px;
            height: 404px;
            overflow: hidden;
        }
        &_sm {
            display: none;
        }
    }
    &__item {
        position: relative;
        margin-right: 60px;
        width: 270px;
        height: 381px;
        transition: 0.9s all;
        img{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .border {
            position: absolute;
            right: -20px;
            bottom: -20px;
            width: 270px;
            height: 381px;
            border: 1px solid $mainColor;
            z-index: -199;
        }
    }
    &__dots {
        display: none;
        justify-content: center;
        align-items: center;
    }
    &__dot {
        width: 15px;
        height: 15px;
        margin-right: 15px;
        border: 1px solid $mainColor;
        border-radius: 100%;
    }
}