@media only screen and (max-width: 1200px) { 
    .slider {
        .container {
            width: 910px;
        }
        .arrow-left {
            margin-right: 10px;
        }
        &__item {
            width: 230px;
            height: 315px;
            margin-right: 50px;
        }
      
        &__wrapper_items {
            display: flex;
            align-items: center;
        }
        .border {
            bottom: -17px;
            width: 227px;
            height: 317px;
        }
    }
}
@media only screen and (max-width: 991px) {
    .slider {
        .container {
            width: 710px;
        }
        &__item {
            width: 259px;
            margin-right: 52px;
            .border {
                width: 263px;
            }
        }
        &__wrapper_items {
            width: 615px;
        }
    }
}
@media only screen and (max-width: 768px) { 
    .slider {
        .container {
            width: 500px;
        }
        &__wrapper {
            &_items {
                width: 330px;
                height: 466px;
                margin: auto;
                .border {
                    display: none;
                }
            }
        }
        &__item {
            width: 330px;
            height: 446px;
            margin: 0;
        }
    }
}
@media only screen and (max-width: 576px) {
    .slider {
        .container {
            width: 450px;
        }
    }
}
@media only screen and (max-width: 482px) {
    .slider {
        .container {
            width: 300px;
        }
        .arrow-left,
        .arrow-right {
            display: none;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
            &_sm {
                display: block;
                width: 330px;
                height: 446px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &__wrapper_items {
            display: none;
        }
        &__dots {
            display: flex;
            margin: 20px auto;
        }
    }
}
@media only screen and (max-width: 433px) {
    .slider {
        .container {
            width: 300px;
        }
        &__wrapper_sm {
            width: 100%;
        }
    }
}