@keyframes down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}
@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}